<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.MyThaiKitchen"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".confirmOrder"
                android:exported="false"/>

        <uses-library android:name="com.google.android.maps"/>

        <activity
                android:name=".myLocation"
                android:exported="false"/>
        <activity
                android:name=".mapView"
                android:exported="false"/>
        <activity
                android:name=".timeCalculation"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar"/>

        <meta-data
                android:name="android.app.lib_name"
                android:value=""/>

        <activity
                android:name=".currentBasket"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar"/>

        <meta-data
                android:name="android.app.lib_name"
                android:value=""/>

        <activity
                android:name=".cardPay"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="${MAPS_API_KEY}"/>

        <activity
                android:name=".editUserSettings"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar"/>

        <meta-data
                android:name="android.app.lib_name"
                android:value=""/>

        <activity
                android:name=".payment"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar"/>

        <meta-data
                android:name="android.app.lib_name"
                android:value=""/>

        <activity
                android:name=".authentication"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".mainRelay"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".history"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".orders"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".basket"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".padthai"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".tomkha"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".padkrapow"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".chickencashew"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".khaosoi"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".stirfry"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".chickensatay"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".tomyum"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".penangcurry"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".friedrice"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".masamancurry"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".springrolls"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".crabrangoons"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".rice"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".schedule"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".thursday"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".friday"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".wednesday"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".tuesday"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".monday"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".userSettings"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
        <activity
                android:name=".register"
                android:exported="true"
                android:screenOrientation="portrait"
                android:theme="@style/Theme.MyThaiKitchen.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.LAUNCHER"/>
            </intent-filter>

            <meta-data
                    android:name="android.app.lib_name"
                    android:value=""/>
        </activity>
    </application>

</manifest>